<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Schedule Table</title>
        <link href="/static/css/output.css" rel="stylesheet" />
        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script defer src="/static/vue/app.js"></script>

        <title>Schedule</title>
    </head>
    {% import "components/modal.html" as modal %} {{ modal.render() }}
    <body>
        <div id="app">
            <table class="m-5 w-10/12">
                <thead>
                    <tr>
                        <th>Person</th>
                        <th v-for="day in days" :key="day" v-text="day"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="h-14" v-for="person in people" :key="person">
                        <td
                            class="w-56 font-semibold"
                            v-text="person.person"
                        ></td>
                        <td
                            v-for="day in days"
                            class="w-64 hover:bg-gray-200"
                            :class="{ 'disabled-day': day === 'Sat' || day === 'Sun' }"
                            @click="day !== 'Sat' && day !== 'Sun' ? openModal(getTask(person, day)) : null"
                        >
                            <div
                                v-if="isBlock(person, day)"
                                class="bg-[#3498db] text-white p-1 rounded cursor-pointer"
                            >
                                <span
                                    v-if="getTask(person, day)"
                                    v-text="getTask(person, day).task"
                                ></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="w-7 ml-20" @click="addPerson()">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
            </button>
            <update-task
                :show="showModal"
                @update:show="showModal = $event"
                :opened_task="opened_task"
            ></update-task>
        </div>
    </body>
</html>
