<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Schedule Table</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script defer src="/static/vue/app.js"></script>

        <title>Schedule</title>
    </head>
    {% import "components/modal.html" as modal %} {{ modal.render() }}
    <body>
        <div id="app">
            <table>
                <thead>
                    <tr>
                        <th>Person</th>
                        <th v-for="day in days" :key="day" v-text="day"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in people" :key="person">
                        <td v-text="person.person"></td>
                        <td
                            v-for="day in days"
                            :class="{ 'disabled-day': day === 'Sat' || day === 'Sun' }"
                            @click="day !== 'Sat' && day !== 'Sun' ? openAddTaskModal() : null"
                            @dragstart="startDrag(person, day)"
                            @dragend="endDrag(person, day)"
                        >
                            <div
                                v-if="isBlock(person, day)"
                                class="block"
                                @click.stop="openModal(getTask(person, day))"
                                v-text="getTask(person, day).task"
                            ></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button @click="addPerson()" class="button">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
            </button>
            <modal
                :show="showModal"
                @update:show="showModal = $event"
                @close="closeModal"
            ></modal>
        </div>
    </body>
</html>
